:root {
  background-color: #171717;
  color: #ee9553;
  font-family: "Intel One Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: row;
}

body {
  margin: 0;
  scroll-behavior: smooth;
}
